<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216023793271-n69dtos7k4vmgpus23t17ttverufpe4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216023793271-n69dtos7k4vmgpus23t17ttverufpe4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDIaZHIxFoTJYTG0F_kAZd7CeS3p-728UE</string>
	<key>GCM_SENDER_ID</key>
	<string>216023793271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dek43.maiIncercSiEu</string>
	<key>PROJECT_ID</key>
	<string>maiincercsieu</string>
	<key>STORAGE_BUCKET</key>
	<string>maiincercsieu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216023793271:ios:d5d2a835e8b76e307b5072</string>
</dict>
</plist>